* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --quotefont: "Lato", serif;
    --mainfont: "Rubik", sans-serif;
    --optfont: "Nunito", sans-serif;
    --grey: #5e5e5e;
    --green: #2dca72;
    --black: #293241;
    --lightgreen: #f2fff8;
    --page-margin: 2em;
    --page-margin-sm: 1em;
    
}

.carousel-section {
    width: 100%;
    height: 69vh;
    background-color: var(--grey);
    overflow: hidden; 
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-inner {
  height: 100%;
}

.carousel-caption,
.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-bg {
  width: 100%;
  height: 100vh; /* full screen height */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Assign each slide its own background image */
.slide1 {
  background-image: url('../assets/img/slide1.jpg');
}

.slide2 {
  background-image: url('../assets/img/slide2.jpg');
}

.slide3 {
  background-image: url('../assets/img/slide3.jpg');
}
.slide4 {
  background-image: url('../assets/img/slide4.jpg');
}

/* Optional: dark overlay for better caption visibility */
.carousel-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
}

